@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09091a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Onest, sans-serif;
  font-size: 16px;
}

.slick-slide {
  margin-right: 28px;
  height: 100%; /* Добавляем промежуток между слайдами */
}

/* Убедимся, что слайды не выходят за пределы контейнера */
.slider-container .slick-list {
  overflow: hidden;
}

/* Настройки для точного контроля */
.slider-container .slick-track {
  display: flex;
  height: 100%;
}

.slider-container .slick-slide {
  width: calc(50% - 14px); /* 50% ширины слайдов, отнимаем промежуток */
  height: 100%;
}

@media (max-width: 1024px) {
  .slider-container .slick-slide {
    width: calc(100%);
    margin: 0;
    /* 100% ширины слайдов, отнимаем промежуток */
  }
}
