@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09091a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Onest, sans-serif;
  font-size: 16px;
}

.slick-slide {
  margin-right: 20px;
  height: 100%;
}
.slick-slide:last-child {
  margin-right: 0;
}

.slider-container .slick-track {
  display: flex;
  height: 100%;
  gap: 20px;
}
